.footer-container {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #889c6d;
    color: #cddcaa;
    text-align: center;
    padding: 15px;
    width: 100%; 
    height: 50px; 
  }